---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <img
      src="/lappland-cute.webp"
      alt="Lappland"
      class="animate mx-auto h-36 w-36 rounded-full border-4 border-black bg-neutral-200 dark:border-white dark:bg-neutral-800"
    />
    <h1
      class="animate mt-7 text-center font-semibold text-black dark:text-white"
    >
      Irvan Malik Azantha
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <div class="animate">
            <p class="w-full text-center">
              21 y'o software engineer, music enthusiast, and full-time weeb.
            </p>
          </div>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Contact me</h2>
        <article>
          <p>You can reach me via:</p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL, i) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {i < SOCIALS.length - 1 ? "/" : ""}
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">
          Acknowledgements
        </h2>
        <article>
          <p>
            The GIF used above is made by <a
              href="https://www.pixiv.net/en/users/16274829"
              ><span class="sr-only">Go visit </span>Seseren</a
            >.
          </p>
        </article>
      </section>
    </div>
  </Container>
</Layout>
