---
import { AlignJustify, Component, CornerDownRight, GitBranch, Instagram, ListMusic, Newspaper, Send } from "lucide-react";
import DefaultLayout from "../layouts/Default.astro";
import PostItem from "../components/PostItem";
import LyricsItem from "../components/LyricsItem";
import "../styles/globals.css";
import { getSortedPosts } from "../lib/posts";
import { getSortedLyrics } from "../lib/lyrics";

const allPosts = getSortedPosts();
const allLyrics = getSortedLyrics();

let title = "Landing";
let description = "The Realm of Irvan Malik Azantha";
---

<DefaultLayout title={title} description={description}>
  <div class="absolute top-0 w-full border-b border-neutral-700">
    <img
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="h-72 w-full object-cover brightness-50"
    />
  </div>
  <section class="w-full pt-20 pb-5 px-4 relative">
    <div class="border border-neutral-700 relative rounded p-4 bg-neutral-800 bg-opacity-20 backdrop-blur-md max-w-3xl mx-auto mt-36 flex flex-col items-center w-full">
      <img
        src="/profile/main.webp"
        alt="Profile Picture"
        class="w-48 h-48 absolute rounded-full -mt-28 border border-neutral-700 ring-4 ring-opacity-20 ring-offset-red-400 ring-offset-2 ring-red-400"
      />
      <div class="w-full mt-28 text-center">
        <p class="text-neutral-200 text-opacity-80">
          Hello, my name is
        </p>
        <h1 class="font-heading text-2xl md:text-4xl font-bold text-neutral-200">
          Irvan Malik Azantha
        </h1>
        <p class="md:text-lg text-neutral-200 text-opacity-80 pb-4">
          Part-time Developer, Full-time Weeb
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          <a
            href="https://github.com/irvanmalik48/realm"
            class="main-page-card-btn"
          >
            <GitBranch size={20} />
            Blog Repository
          </a>
          <a
            href="https://t.me/lappretard"
            class="main-page-card-btn"
          >
            <Send size={20} />
            Telegram Account
          </a>
          <a
            href="https://github.com/irvanmalik48/realm"
            class="main-page-card-btn"
          >
            <Instagram size={20} />
            Instagram Account
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full py-5 z-10 relative">
    <div class="max-w-3xl mx-auto px-4 prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading">
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <Component size={28} />
        </div>
        Introduction
      </h2>
      <p>
        Hello, I'm Irvan Malik Azantha. A result-oriented programmer with
        2 years of experience in creating and maintaining web development
        projects. Highly ambitious and logical. Very interested in open
        source technology and related project developments. Skilled at web
        development and UI/UX designing.
      </p>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <Newspaper size={28} />
        </div>
        Recent Posts
      </h2>
      <p>Here's 4 recent posts I wrote:</p>
      <div class="not-prose grid grid-cols-1 md:grid-cols-2 gap-4">
        {allPosts.slice(0, 4).map((post: any, i: number) => (
          <PostItem key={i} slug={post.slug} {...post.frontMatter} />
        ))}
        <a
          href="/posts"
          class="main-page-card-btn no-underline md:col-span-2"
        >
          <CornerDownRight size={20} />
          See more posts
        </a>
      </div>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <ListMusic size={28} />
        </div>
        Recent Lyrics
      </h2>
      <p>Here's 4 recent lyrics I stashed:</p>
      <div class="not-prose grid grid-cols-1 md:grid-cols-2 gap-4">
        {allLyrics.slice(0, 4).map((lyric: any, i: number) => (
          <LyricsItem key={i} slug={lyric.slug} {...lyric.frontMatter} />
        ))}
        <a
          href="/lyrics"
          class="main-page-card-btn no-underline md:col-span-2"
        >
          <CornerDownRight size={20} />
          See more lyrics
        </a>
      </div>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <AlignJustify size={28} />
        </div>
        Acknowledgements
      </h2>
      <ul>
        <li>
          This blog is built using{" "}
          <a
            href="https://astro.build/"
            class="text-red-400 hover:text-neutral-200 transition"
          >
            Astro
          </a>
          , the all-in-one web framework designed for speed.
        </li>
        <li>
          The styling is provided by{" "}
          <a
            href="https://tailwindcss.com"
            class="text-red-400 hover:text-neutral-200 transition"
          >
            Tailwind CSS
          </a>
          , a utility-first CSS framework.
        </li>
        <li>
          The icons are provided by{" "}
          <a
            href="https://lucide.dev"
            class="text-red-400 hover:text-neutral-200 transition"
          >
            Lucide
          </a>
          , an open-source project and a fork of Feather Icons.
        </li>
        <li>
          The top background image is provided by{" "}
          <a
            href="https://unsplash.com/@a2eorigins"
            class="text-red-400 hover:text-neutral-200 transition"
          >
            Alex Perez
          </a>{" "}
          on Unsplash.
        </li>
        <li>The blog as a project is licensed under MIT License.</li>
      </ul>
    </div>
  </section>
</DefaultLayout>
