---
import Footer from "../components/solidjs/Footer";
import NavRail from "../components/solidjs/NavRail";
import "../styles/globals.css";

const { title, description } = Astro.props;
const { pathname } = Astro.url;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{"Realm | " + title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@irvanmalik48" />
    <meta name="twitter:creator" content="@irvanmalik48" />
    <meta name="twitter:image" content={`https://irvanma.eu.org/og${pathname.split("/")[1] === "lyrics" || pathname.split("/")[1] === "diaries" ? "/default" : pathname === "/" ? "/index" : pathname}.jpg`} />
    <meta property="og:url" content="https://irvanma.eu.org" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`https://irvanma.eu.org/og${pathname.split("/")[1] === "lyrics" || pathname.split("/")[1] === "diaries" ? "/default" : pathname === "/" ? "/index" : pathname}.jpg`} />
    <meta name="theme-color" content="#222222" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="alternate" href="/endpoints/rss.xml" type="application/rss+xml" title="RSS" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/endpoints/sitemap.xml" />
    <slot name="head" />
    <script>
      import "../scripts/router.js"
    </script>
  </head>
  <body class="bg-neutral-900 w-full h-screen flex flex-col md:flex-row overflow-hidden">
    <NavRail
      path={pathname}
      id="navrail_realm"
    />
    <main 
      id="main_realm"
      data-turn-enter
      data-turn-exit
      class="w-full relative scrollbar-none md:scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-700 overflow-y-scroll"
    >
      <slot />
      <Footer />
    </main>
  </body>
</html>