---
import Footer from "../components/solidjs/Footer";
import NavRail from "../components/solidjs/NavRail";
import "../styles/globals.css";

const { title, description } = Astro.props;
const { pathname } = Astro.url;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{"Realm | " + title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@irvanmalik48" />
    <meta name="twitter:creator" content="@irvanmalik48" />
    <meta property="og:url" content="https://irvanma.eu.org" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="theme-color" content="#222222" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <script>
      import "../scripts/router.js"
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J9LL45HF21"
    ></script>
    <script
      async
    >
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-J9LL45HF21');
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3762669166645243"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-neutral-900 w-full h-screen flex flex-col md:flex-row overflow-hidden">
    <NavRail path={pathname} />
    <main class="w-full relative scrollbar-none md:scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-700 overflow-y-scroll">
      <slot />
      <Footer />
    </main>
  </body>
</html>