---
import Default from "./Default.astro";
import { Image } from "@astrojs/image/components";

const { frontmatter } = Astro.props;
---

<Default title={frontmatter.title} description={frontmatter.description}>
  <article class="text-neutral-200">
    <div
      class="relative px-4 min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center"
    >
      <Image
        src="/profile/unsplash-bg.webp"
        alt="Unsplash Background by Alex Perez"
        class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
        height={720}
        width={1560}
        loading="eager"
      />
      <header
        class="relative flex flex-col justify-center w-full max-w-3xl mx-auto text-center break-words lg:text-start text-neutral-200"
      >
        <h1 class="text-4xl font-bold font-heading">
          {frontmatter.title}
        </h1>
        <p class="pt-2 text-sm font-semibold md:text-xl lg:pt-0">
          {frontmatter.artist}
        </p>
        <time class="pt-2 text-sm md:text-base">
          {frontmatter.date}
        </time>
      </header>
    </div>
    <div
      class="w-full max-w-3xl px-4 py-12 mx-auto prose prose-img:rounded prose-img:border prose-blockquote:font-heading prose-img:border-neutral-700 prose-img:max-h-80 prose-img:w-full prose-img:object-contain prose-img:bg-neutral-800 prose-headings:text-neutral-200 prose-invert prose-headings:pb-2 prose-headings:border-b prose-headings:border-neutral-700 prose-pre:border prose-pre:border-neutral-700"
    >
      <slot />
    </div>
  </article>
</Default>
