---
import Default from "./Default.astro";
import { Image } from "@astrojs/image/components";

const { frontmatter, pathname, headings } = Astro.props;
const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: frontmatter.title,
  image: `https://realmof.tech/og${pathname}.jpg`,
  description: frontmatter.description,
  keywords: frontmatter.tags,
  author: {
    "@type": "Person",
    name: "Irvan Malik Azantha",
    url: "https://realmof.tech",
  },
  datePublished: new Date(frontmatter.date).toISOString().substring(0, 10),
};
---

<Default title={frontmatter.title} description={frontmatter.description}>
  <meta name="keywords" content={frontmatter.keywords} slot="head" />
  <article id="article-post" class="text-neutral-200">
    <div
      class="relative px-4 min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center"
    >
      <Image
        src="/profile/unsplash-bg.webp"
        alt="Unsplash Background by Alex Perez"
        class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
        height={720}
        width={1560}
        loading="eager"
      />
      <header
        class="relative flex flex-col justify-center w-full mx-auto text-center xl:text-left text-neutral-200 max-w-7xl"
      >
        <h1 class="text-4xl font-bold font-heading">
          {frontmatter.title}
        </h1>
        <time class="pt-2 lg:pt-0">
          {frontmatter.date}
        </time>
        <div
          class="flex flex-wrap items-center justify-center w-full gap-2 pt-2 xl:justify-start"
        >
          {
            frontmatter.tags.map((tag: string) => (
              <p class="px-2 py-1 text-xs bg-opacity-50 border rounded bg-neutral-800 backdrop-blur-sm border-neutral-700">
                {tag}
              </p>
            ))
          }
        </div>
      </header>
    </div>
    <div
      class="flex flex-col-reverse w-full h-full gap-4 mx-auto xl:flex-row max-w-7xl"
    >
      <div
        class="prose prose-a:break-words px-4 prose-img:rounded prose-img:border prose-headings:scroll-mt-[20px] prose-blockquote:font-heading prose-img:border-neutral-700 prose-img:max-h-80 prose-img:w-full prose-img:object-contain prose-img:bg-neutral-800 prose-headings:text-neutral-200 prose-invert max-w-4xl flex-grow mx-auto py-12 w-full prose-headings:pb-2 prose-headings:border-b prose-headings:border-neutral-700 prose-pre:scrollbar-thin prose-pre:scrollbar-thumb-neutral-600 prose-pre:scrollbar-track-neutral-700 prose-pre:border prose-pre:border-neutral-700"
      >
        <slot />
        <div class="w-full py-12">
          <giscus-widget
            repo="irvanmalik48/realm"
            repoid="R_kgDOHpHiPg"
            category="Comments"
            categoryid="DIC_kwDOHpHiPs4CQsGa"
            mapping="title"
            strict="1"
            reactionsenabled="1"
            emitmetadata="0"
            inputposition="top"
            theme="transparent_dark"
            lang="en"
            loading="lazy"></giscus-widget>
        </div>
      </div>
      <div
        id="scrollspy"
        class="relative flex-shrink w-full h-auto max-w-4xl px-4 pt-12 mx-auto xl:max-w-sm xl:h-screen xl:py-12 xl:sticky xl:top-0"
      >
        <div
          class="w-full px-5 py-3 prose-sm prose border rounded max-w-none h-fit xl:max-h-full xl:overflow-y-scroll border-neutral-700 bg-neutral-800 prose-li:py-0 prose-invert prose-headings:text-neutral-200 prose-headings:border-b prose-headings:border-neutral-700 prose-headings:pb-2"
        >
          <h3 class="mb-4">Table of Contents</h3>
          <!-- using heading.level, map to level 4 using ul -->
          <ul class="pl-0 mt-2 list-none">
            {
              headings.map(
                (heading: { depth: number; slug: string; text: string }) => (
                  <li
                    class="my-0 overflow-hidden truncate bg-transparent text-opacity-70 whitespace-nowrap"
                    style={{
                      paddingLeft: heading.depth - 2 + "rem",
                    }}
                  >
                    <a
                      href={`#${heading.slug}`}
                      class="inline-block w-full px-2 py-1 m-0 leading-tight no-underline truncate transition rounded text-neutral-200 text-opacity-70 hover:text-opacity-100 hover:bg-red-400 hover:bg-opacity-20"
                    >
                      {heading.text}
                    </a>
                  </li>
                )
              )
            }
          </ul>
        </div>
      </div>
    </div>
  </article>
  <script type="module" src="https://unpkg.com/giscus?module"></script>
  <script
    type="application/ld+json"
    slot="head"
    set:html={JSON.stringify(schema)}
  ></script>
</Default>
